*:where(:not(hr, html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

body{
  margin: 8px 120px;
}

header{
  gap: 5px;
  display: flex;
  background-color: orange;
  width: 100%;
}

header > div{
  gap: inherit;
  display: flex;
}

header > div a::after{
  content: '|';
}

header > div a:last-of-type::after{
  content: '';
}

main{
  background-color: antiquewhite;
  min-height: 1200px;
  padding-top: 10px;
}

a{
  color: black;
  cursor: pointer;
}

.active {
  border-bottom: 1px solid black;
}

body{
  font-family: sans-serif;
  font-size: smaller;
}

.error{
  padding: 20px;
  color: red;
}

button{
  cursor: pointer;
}
/* ================ Components  ================ */ 

.hide{
  display: none;
}

.container{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 10px;
}

/* ================ stories  ================ */ 

.story{
  display: flex;
  gap: 5px;
  color: rgba(78, 78, 78, 0.536);
}

.story .story__title{
  display: flex;
  gap: 5px;
  align-items: center;
}

.story .story__title h2{
  color: black;
}

.story .story__title span{
  font-size: smaller;
}

.story .story__info{
  font-size: smaller;
  display: flex;
  gap: 10px;
}

/* ================ stories  ================ */

/* ================ comments  ================ */

.comment{
  display: grid;
  gap: 7px;
}

.comment .comment__info{
  color: rgba(78, 78, 78, 0.536);
  font-size: smaller;
}

.comment .comment__reply{
  font-size: 12px;
  text-decoration: underline;
}

.comment .comment__content{
  padding-left: 20px;
}

.comment--level-0 + .comment--level-0{
  margin-top: 20px;
}

.comment--level-0 > .comment__reply{
  display: block;
}

/* ================ comments  ================ */

/* ================ Components  ================ */ 